canvas{
    position: absolute;
    z-index: 0;
    top:0;
    left:0;
    margin:0;
    padding:0;
}

.canvas{
    display:flex;
}

.BarGraph{
    display:flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    height:max-content;
}

.BarGraph > .dataContainer{
    display:flex;
    justify-content: space-evenly;
    width:90%;
    height:85%;
    margin:0 1rem;
}

.BarGraph > .dataContainer > *{
    display:flex;
    width:2rem;
    flex-direction: column;
    align-items: center;
    background-color: gold;
    border-radius: 1.5vmin 1.5vmin 0 0;
    align-self: flex-end;
}

.BarGraph > .dataContainer > * + *{
    margin-left: .2rem;
}

.barBtns{
    display:flex;
    justify-content: space-evenly;
    margin-left:auto;
}

.barBtns > *{
    display:flex;
    align-items:center;
    justify-content: center;
    width:10%;
    height:70%;
    background-color: blue;
    color:white;
    font-weight: bold;
    border-width:1px;
    border-radius: 1vmin;
    cursor:pointer;
}

.barScaler{
    z-index: 1;
    width:75%;
    height:2px;
    background-color: blue;
    cursor: ns-resize;
}

.barDataRotator{
    display:flex;
    width:max-content;
    height: 100%;
    align-items: center;
    font-family: Quicksand;
    transform: rotate(90deg);
    white-space:nowrap;
}

.BarGraph > .bottomBar{
    position: relative;
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    align-self: flex-end;
    cursor:move;
    min-width:100%;
    background-color: lightslategrey;
    border-radius: 1.2vmin;
    padding:0 5px;
    white-space: nowrap;
}

.flowchartItem{
    position: absolute;
    background-color: lightblue;
    border-radius: 2vmin;
    transform: translate(-50%, -50%);
}

.flowchartItem > .dataContainer{
    position:relative;
    border-radius: inherit;
}

.flowchartItem > .dataContainer > .dragger{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    height:2rem;
    background-color: lightseagreen;
    border-radius: 2vmin 2vmin 0 0;
    cursor: move;
    margin:0 !important;
    font-size: 1.5vw;
}

.flowchartItem > .dataContainer > *{
    white-space: nowrap;
    width:max-content;
    height: max-content;
    font: bold 1.2vw 'Open Sans';
    margin:2vmin;
}

.flowchartList{
    width:100%; 
    padding-inline-start:1em;
}

.listHeading{
    padding:0 1vw;
}

.listBtns{
    display:flex;
    justify-content: space-between;
    width: 3.2rem;
    margin: 0 .5rem;
}

.transparent{
    background-color: #0000 !important;
}

.piechart{
    position: relative;
}

.piechartDragger{
    cursor: move;
    position:absolute;
    width:15%;
    height:15%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.resizer{
    cursor: e-resize;
}

.connector{
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position:  absolute;
    border:none;
    margin:0 !important;
    width:15px;
    height:15px;
    background-color: gold;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.connector::before{
    display:block;
    content:'';
    background-color: rgb(4, 141, 22);
    width:70%;
    height:70%;
    border-radius: 100%;
}

.connector:hover::before{
    background-color: rgb(8, 199, 34);
}

.temp{
    background-color: #8888 !important;
}