.generalProperties {
    display: grid;
    position: relative;
    z-index: 2;
    width: 100vw;
    background-color: rgb(91, 108, 117);
    grid-template-columns: repeat(4, 1fr);
    height: max-content;
    padding: var(--v);
}

.generalProperties>* {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.generalProperties>*>.title {
    font: bold calc(2 * var(--v)) var(--font-header-secondary);
    color: cornsilk;
}

.generalProperties>*>label {
    margin-right: 1vw;
}

.generalProperties>*>input {
    height: 50%;
}

.generalProperties>*>input[type="checkbox"] {
    aspect-ratio: 1/1;
}

.generalProperties>*>input[type="color"] {
    width: calc(var(--v) * 3.5);
    height: auto;
    border-radius: 100%;
    background-color: darkslategray;
}

.generalProperties>*>input[type="color"]::-webkit-color-swatch-wrapper {
    padding: calc(var(--v) / 10);
    border-radius: 100%;
}

.generalProperties>*>input[type="color"]::-webkit-color-swatch {
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 100%;
}