.inspector{
    position: absolute;
    bottom:-100vh;
    right:0;
    display:flex;
    flex-direction: column;
    z-index: 1;
    width:20vw;
    height:84vh;
    background-color: darkgrey;
    transition: 1s;
    align-items: center;
}

.inspector > .titlebar{
    display:flex;
    justify-content: center;
    align-items:center;
    height:8%;
    width:100%;
    margin-bottom: 7%;
}

.inspector > .titlebar > .header{
    display:flex;
    justify-content: center;
    font-family: Quicksand;
    font-size: 3vw;
    width:80%;
}

.inspector > .titlebar > .hideBtn{
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 100%;
    width:6vmin;
    height:6vmin;
    cursor: pointer;
    background-color: #fff3;
    transition: .2s;
}

.inspector > .titlebar > .hideBtn > .hideArrowImg{
    margin-top:5%;
    transform: rotate(90deg);
    width:70%;
    height:70%;
}

.inspector > .titlebar > .hideBtn:hover{
    background-color: #fff5;
}

.inspector > .titlebar > .hideBtn:active{
    background-color: #fff3;
}

.inspector > .properties{
    display:flex;
    flex-direction: column;
    flex-grow:1;
}

.inspector > .properties > *{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:7%;
}

.inspector > .properties > * > label{
    display:flex;
    align-items: center;
    font-size:1.3vw;
    font-family: 'Open Sans';
    font-weight: bold;
}

.inspector > .properties > * > .textInput, .numberInput{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size:1vw;
    max-width: 50%;
}

.inspector > .properties > * > .colorInput{
    padding:.5%;
}

.inspector > .buttons{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.inspector > .buttons > *{
    display:flex;
    align-items: center;
    justify-content: center;
    width:40%;
    height:60%;
    padding:7%;
    border-radius: 2vmin;
    font-size: 1.6vw;
    background-color: #FFF8;
    border-style: none;
    cursor: pointer;
    transition:.2s;
}

.inspector > .buttons > *:hover{
    background-color: #FFFC;
}

.inspector > .buttons > *:active{
    background-color: #FFF8;
}