:root {
    --inspector-color: darkgrey;
}

.inspector {
    position: absolute;
    bottom: -100%;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: max-content;
    padding: 0 min(1vw, 1rem);
    height: 100%;
    background-color: var(--inspector-color);
    transition: 1s;
    align-items: center;
    overflow-y: auto;
}

.inspector::-webkit-scrollbar {
    width: .75vw;
    background: lightblue;
}

.inspector::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 100000rem;
}

.inspector>.titlebar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 100%;
    margin: 3% 0;
}

.inspector>.titlebar>.header {
    display: flex;
    justify-content: center;
    font-family: var(--font-header);
    font-size: calc(3 * var(--v));
    width: 80%;
}

.inspector>.titlebar>.hideBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100%;
    width: 6vmin;
    height: 6vmin;
    background-color: #fff3;
    transition: .2s;
}

.inspector>.titlebar>.hideBtn>.hideArrowImg {
    margin-top: 5%;
    transform: rotate(90deg);
    width: 70%;
    height: 70%;
}

.inspector>.titlebar>.hideBtn:hover {
    background-color: #fff5;
}

.inspector>.titlebar>.hideBtn:active {
    background-color: #fff3;
}

.property-header{
    display: flex;
    width:100%;
    justify-content: space-between;
}

.property-header > label {
    font: bold calc(var(--v) * 1.8) var(--font-header-secondary) !important;
}

.inspector>.properties {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:100%;
}

.inspector>.properties>.property-group {
    background-color: var(--inspector-color);
}

.inspector>.properties>.property-group>* {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(var(--v) * 2.4);
}

.inspector>.properties>.property-group>*>label {
    display: flex;
    align-items: center;
    font: normal lighter calc(1.6 * var(--v)) var(--font-primary);
}

.inspector>.properties>.property-group>*>.expandArrow,
.inspector>.properties>*>.expandArrow {
    display: flex;
    transition: .5s;
    cursor: pointer;
    font-size: calc(var(--v) * 1.5);
    align-items: center;
}

.inspector>.properties>.property-group>*>.expandArrow::after,
.inspector>.properties>*>.expandArrow::after {
    content: '▼';
}

.inspector>.properties>.property-group>*>input[type='text'],
.inspector>.properties>.property-group>*>input[type='number'] {
    display: flex;
    font-family: var(--font-primary);
    font-weight: lighter;
    height: 65%;
    flex-grow: 1;
    max-width: 50%;
}

.inspector>.properties>.property-group>*>input[type="checkbox"] {
    padding: 0;
    height: 90%;
}

.inspector>.properties>.property-group>*>input[type="color"] {
    cursor: pointer;
    width: calc(var(--v) * 2.6);
    height: calc(var(--v) * 2.6);
    border: none;
    padding: 0;
}

.inspector>.properties>.property-group>*>input[type="color"]::-webkit-color-swatch,
.inspector>.properties>.property-group>*>input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 100%;
}

.inspector>.properties>.property-group>*>button {
    height: 200%;
    width: 8vmin;
    font-size: calc(7 * var(--v));
    transform: scale(.5);
}

.inspector>.properties>.property-group>*>input {
    font-family: var(--font-primary);
    font-weight: bold;
    background-color: #0000 !important;
    border: solid 2px white;
    border-radius: .5vw;
}

.inspector>.properties>.property-group>*>input+button,
.inspector>.properties>.property-group>*>input+input {
    margin-left: .5vw;
}

.inspector>.properties>.property-group>*>.removeBtn {
    display: flex;
    width: calc(var(--v) * 6);
    height: calc(var(--v) * 5);
    position: relative;
    border-radius: 10000px;
    background-color: rgba(255, 100, 100, 0.533);
    border: .5px solid lightblue;
    transition: .5s;
}

.inspector>.properties>.property-group>*>.removeBtn:hover {
    background-color: #F46F;
}

.inspector>.properties>.property-group>*>.removeBtn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 7% 0;
    background-color: black;
    border-radius: 10000px;
}

.inspector>.properties>.property-group>*>.randomizeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000;
    border: none;
    padding: 0 !important;
}

.inspector>.properties>.property-group>*>.randomizeBtn>img {
    padding: 0;
    aspect-ratio: 1 / 1;
    height: 100%;
}

.inspector>.buttons {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.inspector>.buttons>button {
    display: flex;
    align-items: center;
    justify-content: center;
    font: lighter calc(2 * var(--v)) var(--font-primary);
    height: 60%;
    padding: 6%;
    border-radius: calc((1.2vw + 1.2vh) / 2);
    background-color: #FFF8;
    border-style: none;
    transition: .2s;
}

.inspector>.buttons>.deleteBtn {
    position: relative;
    aspect-ratio: 1 / 1;
}

.inspector>.buttons>.deleteBtn:hover {
    background-color: #F55B;
}

.inspector>.buttons>.deleteBtn::before,
.inspector>.buttons>.deleteBtn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    height: 10%;
    background-color: black;
    border-radius: 10000rem;
}

.inspector>.buttons>.deleteBtn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.inspector>.buttons>.deleteBtn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.inspector>.buttons>.resetBtn {
    width: 50%;
}

.inspector>.buttons>*:hover {
    background-color: #FFFB;
}

.inspector>.buttons>*:active {
    background-color: #FFF8;
}

.addBtn {
    position: relative;
    width: calc(var(--v) * 5) !important;
    height: calc(var(--v) * 5) !important;
    border-radius: 1vmin;
    background-color: #FFF7;
    border: 1px solid darkcyan;
}

.addBtn::before,
.addBtn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 10%;
    background-color: #000;
    border-radius: 10000rem;
}

.addBtn::after {
    transform: translate(-50%, -50%) rotate(90deg);
}