:root{
    --v: calc((1vh + 1vw) / 2);
}

img {
    display: block;
}

button, input[type='button'], input[type='Button'], input[type='Color'], input[type='Checkbox']{
    cursor: pointer;
}

body, html {
    overflow: hidden;
    width:100%;
    height:100%;
}

body{
    position: relative;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
}

a.no-underline{
    text-decoration: none;
}

.container{
    position: relative;
    display:flex;
    align-items: center;
    flex-grow: 1;
    width:100%;
}

.copyright{
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;    
    width:100%;
    height:4vh;
    background-color: #5b6c75;
    font: 1vw var(--font-secondary);
    color:rgb(188 255 115);
}

.titleBar{
    position:relative;
    z-index: 2;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
    width:100vw;
    height:8vh;
}

.titleBar > .title{
    color:White;
    font-family: var(--font-header);
    font-size: 3vw;
}

.titleOptions{
    display:flex;
    position: absolute;
    align-items: center;
    right:0;
    width:max-content;
    height:6vh;
}

.titleOptions > button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border:none;
    height:90%;
    width:5.4vh;
    margin-right:.6vh;
    border-radius: .75vmin;
}

.titleOptions > button > .img{
    height:80%;
}