:root {
    --v: calc((1vh + 1vw) / 2);
}

img {
    display: block;
}

button,
input[type='button'],
input[type='Button'],
input[type='Color'],
input[type='Checkbox'] {
    cursor: pointer;
}

body,
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #111;
}

a.no-underline {
    text-decoration: none;
}

.striked::after {
    display: block;
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    content: '';
    min-width: 10%;
    height: 60%;
    background-color: black;
    border-radius: 100rem;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.copyright {
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 4vh;
    background-color: #5b6c75;
    font: 1vw var(--font-secondary);
    color: rgb(188 255 115);
}

.dock-right {
    position: absolute;
    right: 0;
}

.content-center {
    display: grid;
    place-items: center;
}

.flex {
    display: flex;
}

.height-6p {
    height: 6vh;
}

.titleBar {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
    width: 100vw;
    height: 8vh;
}

.titleBar>.title {
    color: White;
    font-family: var(--font-header);
    font-size: 3vw;
}

.titleOptions {
    display: flex;
    align-items: center;
    width: max-content;
}

.titleOptions button,
.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 95%;
    width: 5.4vh;
    margin-right: .6vh;
    border-radius: 100rem;
    background-color: #FFFB;
    transform: rotate(0);
    transition: .6s;
}

.titleOptions>button:hover,
.settings:hover {
    background-color: #FFDD66BB;
    transform: rotate(360deg);
}

.titleOptions button img,
.settings img {
    height: 80%;
}

.titleOptions>.options {
    position: absolute;
    top: 100%;
    aspect-ratio: 1 / 1;
}

.titleOptions>.options button {
    margin-top: 5px;
}

.right-panel {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: max-content;
    max-width: 100vw;
    height: 100%;
    transition: 1s;
}